@using Swlh.WebApp.Controllers
@model Swlh.WebApp.Application.Dtos.AuthenticationDtos.ForgotPasswordDto

@{
    Layout = "_Blank";
    ViewData["Title"] = "Quên mật khẩu";
}


<div class="d-flex justify-content-center align-items-center min-vh-100 p-4 rounded shadow">
    <div class="card shadow p-4 border-0" style="width: 100%; max-width: 400px;">
        <h3 class="mb-4 text-center">Quên mật khẩu</h3>
        <form asp-controller="@nameof(AuthenticationController)[..^10]"
            asp-action="@nameof(AuthenticationController.ForgotPasswordHandler)">
            
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="UsernameOrEmail" class="form-label"></label>
                <input asp-for="UsernameOrEmail" class="form-control" autofocus />
                <span asp-validation-for="UsernameOrEmail" class="text-danger small"></span>
            </div>

            <div class="d-grid mb-3">
                <input type="submit" value="Gửi" class="btn btn-primary" />
            </div>

            <input type="hidden" name="backurl" value="@Context.Request.Query["backurl"]" />
        </form>

        <div>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Quay lại</button>
            <a asp-controller="@nameof(HomeController)[..^10]"
               asp-action="@nameof(HomeController.Index)"
               asp-route-backurl="@Context.Request.Query["backurl"]">
                Về trang chủ
            </a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
