@using Swlh.WebApp.Application.Dtos.AuthenticationDtos
@using Swlh.WebApp.Controllers
@model ChangePasswordDto

@{
    Layout = "_Blank";
    ViewData["Title"] = "Tạo mật khẩu mới";
}

<div class="d-flex justify-content-center align-items-center min-vh-100 p-4 rounded shadow">
    <div class="card shadow p-4 border-0" style="width: 100%; max-width: 400px;">
        <h3 class="mb-4 text-center">Tạo mật khẩu mới</h3>
        <form asp-controller="@nameof(AuthenticationController)[..^10]"
              asp-action="@nameof(AuthenticationController.ChangePassword)">

            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">Mật khẩu mới</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label">Nhập lại mật khẩu mới</label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger small"></span>
            </div>

            <div class="mb-3 row row-cols-2 gx-2">
                <div class="col">
                    <button type="button" class="w-100 btn btn-secondary" onclick="window.history.back()">Quay lại</button>
                </div>
                <div class="col">
                    <button type="submit" class="w-100 btn btn-primary">Lưu</button>
                </div>
            </div>
            <input type="hidden" name="backurl" value="@Context.Request.Query["backurl"]" />
        </form>

        <div>
            <a asp-controller="@nameof(HomeController)[..^10]"
               asp-action="@nameof(HomeController.Index)"
               asp-route-backurl="@Context.Request.Query["backurl"]">
                Về trang chủ
            </a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}